.layout {
    background-color: transparent;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 16px 20px;
    @media screen and (min-width: 1280px) {
        padding: 0;
    }
    @media screen and (max-width: 1279px) {
        border-bottom: 2px solid #E0E0E0;
        padding-left: 32px;
    }
    @media screen and (min-width: 1280px) {
        align-items: flex-end;
        justify-content: left;
        gap: 20px;
        height: 146px;
        padding: 80px 0 0 16px;
    }
}
.logged {
        justify-content: space-between;
}
.leftdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* desktop */
    @media screen and (min-width: 1280px) {
        align-items: baseline;
        padding: 80px 0 0 16px;
    }
}
.logo {
    width: 47px;
    height: 44px;
    /* desktop */
    @media screen and (min-width: 1280px) {
        width: 66px;
        height: 70px;
    }
}
.slimmom {
    @media screen and (max-width: 767px) {
           display: none;
        }
}
.slimtxt {
    font-size: 24px;
    font-weight: 300;
    color: #212121;
}
.momtxt {
    font-size: 24px;
    font-weight: 300;
    color: #FC842D;
}
.verticalseparator {
    border:1px solid #E0E0E0;
    height: 32px;
    margin-top: 10px;
}
.rightdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    @media screen and (min-width: 1280px) {
        padding-bottom: 4px;
    }
    gap: 14px;
    /* for tablet and desktop */
    @media screen and (min-width: 768px) {
        gap: 24px;
    }
}
.user {
    color: #212121;
}
.exit {
    color: #9B9FAA;
}
.background {
    z-index: -10;
    position: absolute;
    top: 0;
    margin: 0 auto;
}
.leaves {
    display: none;
    z-index: -3;
    /* for tablet*/
    @media screen and (min-width: 768px) {
        display: block;
        width: 602px;
        height: 531px;
        position: absolute;
        top: 493px;
        left: 0px;
    }
    /* for desktop */
    @media screen and (min-width: 1280px) {
        display: block;
        width: 746px;
        height: 846px;
        position: absolute;
        top: -26px;
        left: 339px;
    }    
}
.greyshape {
    display: none;
    z-index: -4;

    /* for tablet*/
    @media screen and (min-width: 768px) {
        display: block;
        width: 521px;
        height: 563px;
        position: absolute;
        top: 461px;
        left: 247px;
        object-fit: cover;
    }

    /* for desktop */
    @media screen and (min-width: 1280px) {
        display: block;
        width: 602px;
        height: 816px;
        position: absolute;
        top: 34px;
        left: 678px;
    }
}
.banana {
    display: none;
    z-index: -2;

    /* for tablet*/
    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: 593px;
        left: 277px;
    }

    /* for desktop */
    @media screen and (min-width: 1280px) {
        display: block;
        position: absolute;
        top: -102px;
        left: 782px;
    }
}
.strawberry {
    display: none;
    z-index: -2;

    /* for tablet*/
    @media screen and (min-width: 768px) {
        display: block;
        width: 208px;
        height: 203px;
        position: absolute;
        top: 583px;
        left: 464px;
    }

    /* for desktop */
    @media screen and (min-width: 1280px) {
        display: block;
        width: 286px;
        height: 279px;
        position: absolute;
        top: 508px;
        left: 958px;
    }
}