.logintxt {
    padding: 40px 0 0 128px;
    color: #FC842D;
    @media screen and (min-width: 768px) {
        padding: 160px 0 0 32px;
    }
    @media screen and (min-width: 1024px) {
        padding-left: 16px;
    }
}
.loginform {
    padding: 55px 0 0 20px;
    @media screen and (min-width: 768px) {
        padding-left: 32px;
    }
    @media screen and (min-width: 1024px) {
        padding-left: 16px;
    }
}
.labelinput {
    width: 240px;
}

.inputline {
    width: 240px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 32px;
    outline: none;
}
.buttonsdiv {
    margin: 28px 0 0 29px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 768px) {
        margin-left:0px;
        flex-direction: row;
        gap: 32px;
    }
}
.normalbtn,
.reversebtn {
    width: 181px;
    height: 44px;
    border: none;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 4px 10px 0px #FC842D80;
    cursor: pointer;
}

.normalbtn {
    background-color: #FC842D;
}

.reversebtn {
    border: 2px solid #FC842D;
    background-color: white;
    color: #FC842D;
}