:root {
    --mwidth: 15px;
    --dwidth: 215px;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Verdana';
    src: url('./fonts/verdana.woff2');
}

@font-face {
    font-family: 'VerdanaBold';
    src: url('./fonts/VerdanaBold.woff2');
}

body {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #9B9FAA;
    width: 320px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 768px;
    };
    @media screen and (min-width: 1280px) {
        width: 1280px;
    };   
}